@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#user-name{
    flex-wrap: wrap;
    position: relative;
}

#user-profile p{
    color: #f5f5f5;
}

#user-profile ul li{
    background-color: #ffffff;
    width: 25%;
    text-align: center;
    border-style: solid;
    border-color: #191970;
    border-width: 1.5px;
}

#user-profile ul li a{
    color: #dcdcdc;
    font-size: 2rem;
}

.slide-button{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #c0c0c0;
    margin-left: 100px;
    cursor: pointer; /* マウスオン時のカーソルの形 */
    z-index: 1;
}

.down{
    border-bottom: 2px solid #c0c0c0;
    -webkit-transform: rotate(-45deg);
    margin-left: 15%;
}

.up{
    border-top: 2px solid #c0c0c0;
    -webkit-transform: rotate(45deg);
    margin-left: 15%;
}

.user-image{
    margin-left: 5%;
}
